body {
    font-family: 'Raleway', sans-serif;
    background-color: white;
    width: auto;
}

/*      HEADER      */

.menu {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 60px;
}


.menu img { /*logo en-tête*/
    width: 95px;
    height: 45px;
    margin-top: 40px;
}

.menu ul{
    display: flex;
    margin-top: 0px;
}
        
.menu li { 
    list-style-type: none; /*pas de puce*/
}   
    
.menu a { /*dimension des liens */  
    display: block; /* Transformation en block */
    min-width: 150px; /*Largeur minimale des liens*/
    min-height: fit-content;
    color: black;
    text-decoration: none; /*pas de surlignement*/
    text-align: center;
    padding-top: 40px;
    padding-right: 15px;
    border-top: solid transparent;
}
    
.menu a:hover{ 
    border-top: solid #0065FC;  
    color: #0065FC; 
}

@media all and (max-device-width: 992px) {
    .body{
        width: auto;
    }
    .menu {
       width: auto;
    }
    
}

@media screen and (max-device-width: 768px) {
    .body{
        width: 100%;
    }
    .menu ul{
    padding-inline-start: 40px;
}   
    .menu { 
        flex-direction: column;
        width: auto;
        margin-left: 5px;
        margin-right: 2px;
        align-items: center;
    }

    .menu img{
        margin-top: 10px;
    }

    .menu a{
        margin-left: 0px;
        margin-right: 0px;
    }

    .menu a:hover{
        border-top: none;
        border-bottom: solid #0065FC;  
    }

}
        


/*      MAIN         */


main {
    margin-left: 40px;
    margin-right: 25%;
}
.titre_section{
    font-size: 20px;
}
.titre_section_recherche{
    display: flex;
    flex-direction: column;
    width: max-content;   
}

/* Zone de recherche*/

.titre_section_recherche h2{
    margin-bottom: 5px;
    font-size: 24px;
}
.titre_section_recherche h6{
    margin-top: 0px;
    margin-bottom: 15px;
    padding-left: 4px;
    font-size: 14px;
    font-weight: lighter;
}

/*Form*/
#form_standart {
display: flex;
border: 1px solid #F2F2F2;
border-radius: 20px;
max-width: fit-content;
}

#form_mobile {
    display: none;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    max-width: fit-content;
}

#local  {
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
border-right: transparent;
border-top: transparent;
border-bottom: transparent;
background-color: #F2F2F2;
padding: 10px;
}

#texte_rechercher {
border: transparent;
padding-left: 10px;
background-color: white;
}

#click_rechercher {
padding: 10px;
border: 1px solid #0065FC;
border-bottom-right-radius: 20px;
border-top-right-radius: 20px;
border-left: transparent;
border-top: #0065FC;
border-bottom: #0065FC;
color: white;
background-color: #0065FC;
box-shadow: 1px 1px 2px #0065FC;

}

#loupe{
padding: 10px;
border: 1px solid #0065FC;
border-bottom-right-radius: 20px;
border-top-right-radius: 20px;
border-left: transparent;
border-top: #0065FC;
border-bottom: #0065FC;
color: white;
background-color: #0065FC;
}

@media screen and (max-device-width: 768px){
#form_standart{
    display: none;
}
    
#form_mobile{
    display: flex;
    visibility: visible;
}

}

/*Filtres*/
.filtres_recherche{
    display: flex;
    flex-wrap: wrap;
    max-width: auto;
}
.filtres_recherche h4{
    align-self: center;
}
.filtres {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
    padding: 10px;
}
        
.filtre { 
    list-style-type: none;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    text-align: right;
    padding-right: 10px;
    margin-right: 10px;
}
.filtre i{
    background-color: #DEEBFF;
    color: #0065FC;
    padding: 10px;
    border-radius: 100px;
}
.filtres li:hover{
    background-color: #DEEBFF;
    color: #0065FC;
    font-weight: bolder;

}

.info_recherche {
display: flex;
margin-top: 0px;
}
.info_recherche i{
    margin-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 8px;
    padding-left: 8px;
    border: 1px solid #F2F2F2;
    color: #0065FC;
    border-radius: 100px;
    

}
.info_recherche h6{
    font-size: 12px;
    font-weight: lighter;
    padding-left: 10px;
    margin-top: 0px;
}

/* SECTIONS Hébergements + Activités */
.lien_card{
    text-decoration: none;
    color: black;
}

/* SECTION HEBERGEMENTS + Paramètres grilles en Flexbox */ 

#Hébergements{
    display: flex;
    width: max-content;
}

.box_section{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-right: 40px;
    width: 775px;
    height: fit-content;

}

.grille_hébergements{
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
    margin-right: 0px;
}
.grille_item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border-radius: 25px;
    margin: 10px;
    width: 230px;
    box-shadow: 1px 1px 12px #555;
}
.grille_item:hover{
    box-shadow: 4px 4px 12px #555;  
}

.grille_item img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover; /*pour garder le ratio*/
    width: 220px;
    height: 100px;
    align-self: center;
    margin-top: 5px;
}

.infos_item{
    display: flex;
    padding-left: 15px;
    flex-direction: column;
}
.titre_item{
    margin-top: 10px;
    margin-bottom: 2px;
    font-weight: bolder;
    font-size: 14px;
}
.prix_nuit{
    margin-top: 2px;
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: lighter;
}
.stars{
    margin-bottom: 10px;
}
.stars i{
    color: #0065FC;
    font-size: 10px;
}
#far{
    color: #F2F2F2;
}

#button_more{
    align-self: flex-end;
    border: none;
    padding: 0px;
    margin-top: 7px;
    margin-left: 20px;
    background-color: transparent;
}

/* LES PLUS POPULAIRES*/

#Pop{
    margin-left: 30px;
    width: 300px;
    height: max-content;
    display: flex;
    flex-direction: column;
}

.grille_item_pop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: white;
    border-radius: 25px;
    margin: 10px;
    width: 270px;
    box-shadow: 1px 1px 12px #555;
}

.grille_item_pop:hover{
    box-shadow: 4px 4px 12px #555;
}

.grille_item_pop:hover img{
    width: 130px;
    margin-right: 0px;
}
.grille_item:hover h4{
    font-size: 12px;
}
.grille_item:hover h6{
    font-size: 10px;
}
.grille_item:hover i{
    font-size: 8px;
}
.grille_item_pop:hover i{
    font-size: 12px;
}
.grille_item_pop img{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover; /*pour garder le ratio*/
    width: 100px;
    height: 120px;
    align-self: center;
    margin: 5px;
}


.infos_item_pop{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    padding-left: 15px;
    flex-direction: column;
    justify-content: space-between;
}
.infos_item_pop h6{
    margin-top: 10px;
}

.stars_pop{
    justify-self: flex-end ;
    margin-bottom: 10px;
}
.stars_pop i{
    color: #0065FC;
    font-size: 10px;
}


/*MEDIA QUERIES ----> SECTION HEBERGEMENTS */

@media all and (max-device-width: 992px) {
    #Hébergements{
        width:auto;
    }
}
@media screen and (max-device-width: 768px){
    
    #Hébergements{
        width: 320px;
        flex-direction: column;
    }
    .grille_hébergements{
        flex-direction: column;
    }

}

/* CHANGEMENT DE SECTION */
/*ACTIVITES*/

#Activités{
    margin-left: 0px;
    width: 1075px;
}

#Activ {
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 0px;
    margin-right: 40px;
    width: max-content;
    height: fit-content;
    padding-left: 0px;
}

.grille_activités{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 0px;
    margin-right: 0px;
    height: 500px;
    width: fit-content;
}
.grille_item_act{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border-radius: 25px;
    margin-right: 40px;
    margin-top: 40px;
    width: 260px;
    box-shadow: 1px 1px 12px #555;
}
.grille_item_act:hover{
    box-shadow: 4px 4px 12px #555;
}

.grille_item_act img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover; /*pour garder le ratio*/
    width: 260px;
    height: 100px;
}
.grille_item_act h4{
    padding: 14px;
    margin-top: 0px;
    font-size: 13px;
    font-weight: bold;
}


#Vieux_port img{
    height: 320px;
}

#Fort_de_Pomègues img{
    height: 150px;
}

#Îles_du_Frioul img{
    height: 90px;
}


#Parc_National_des_Calanques img{
    height: 320px;
}

#Notre_Dame_de_la_Garde img{
    height: 90px;
}

#Parc_Longchamps img{
    height: 150px;
}


/* FOOTER*/
footer {
    background-color: #F2F2F2;
    padding-top: 10px;
    padding-bottom: 0px;
    clear: right;
    width: 100%;
}

.foot_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.foot_list ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;    
}

.foot_list li {
    list-style-type: none;
    margin-top: 5px;
    width: max-content;
    padding: 5px;
}
.foot_list li:hover{
    font-weight: bolder;
}
.foot_list li:first-child {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 20px;
}
.foot_list li:first-child:hover{
    text-shadow: 1px 1px 1px #555;
}

.foot_list a{
    text-decoration: none;
    color: black;
}

@media all and (max-device-width: 992px) 
{
    
    .footer_container {
       width: auto;
    }
    
}

@media screen and (max-device-width: 768px) {
   
    .foot_container { 
        flex-direction: column;
        flex-wrap: wrap;
        width: auto;
    }

    .foot_list ul {
        flex-direction: column;
        flex-wrap: wrap; 
        width: max-content;
    }

}