body {
    font-family: 'Raleway', sans-serif;
    background-color: white;
    width: auto;
}

/*      HEADER      */

.menu {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 60px;
}


.menu img { /*logo en-tête*/
    width: 95px;
    height: 45px;
    margin-top: 40px;
}

.menu ul{
    display: flex;
    margin-top: 0px;
}
        
.menu li { 
    list-style-type: none; /*pas de puce*/
}   
    
.menu a { /*dimension des liens */  
    display: block; /* Transformation en block */
    min-width: 150px; /*Largeur minimale des liens*/
    min-height: fit-content;
    color: black;
    text-decoration: none; /*pas de surlignement*/
    text-align: center;
    padding-top: 40px;
    padding-right: 15px;
    border-top: solid transparent;
}
    
.menu a:hover{ 
    border-top: solid #0065FC;  
    color: #0065FC; 
}

@media all and (max-device-width: 992px) {
    .body{
        width: auto;
    }
    .menu {
       width: auto;
    }
    
}

@media screen and (max-device-width: 768px) {
    .body{
        width: auto;
    }
    .menu ul{
    padding-inline-start: 40px;
}   
    .menu { 
        flex-direction: column;
        width: auto;
        margin-left: 5px;
        margin-right: 2px;
        align-items: center;
    }

    .menu img{
        margin-top: 10px;
    }

    .menu a{
        margin-left: 0px;
        margin-right: 0px;
    }

    .menu a:hover{
        border-top: none;
        border-bottom: solid #0065FC;  
    }

}
        


/*      MAIN         */


main {
    margin-left: 40px;
    margin-right: 25%;
}

/* Zone de recherche*/

.titre_section_recherche h2{
    margin-bottom: 5px;
}
.titre_section_recherche h6{
    margin-top: 0px;
    margin-bottom: 15px;
    padding-left: 4px;
    font-size: 14px;
    font-weight: lighter;
}

/*Form*/
.form {
display: flex;
border: 1px solid #F2F2F2;
border-radius: 20px;
max-width: fit-content;
}

#icone_form  {
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
border-right: transparent;
border-top: transparent;
border-bottom: transparent;
background-color: #F2F2F2;
padding: 10px;
}

#texte_rechercher {
border: transparent;
padding-left: 10px;
background-color: white;
}

#click_rechercher {
padding: 10px;
border: 1px solid #0065FC;
border-bottom-right-radius: 20px;
border-top-right-radius: 20px;
border-left: transparent;
border-top: #0065FC;
border-bottom: #0065FC;
color: white;
background-color: #0065FC;
}

/*Filtres*/
.filtres_recherche{
    display: flex;
    max-width: auto;
}
.filtres_recherche h4{
    align-self: center;
}
.filtres {
    display: flex;
    margin-left: 5px;
    padding: 10px;
}
        
.filtre { 
    list-style-type: none;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    text-align: right;
    padding-right: 10px;
    margin-right: 10px;
}
.filtre i{
    background-color: #DEEBFF;
    color: #0065FC;
    padding: 10px;
    border-radius: 100px;
}
.filtres li:hover{
    background-color: #DEEBFF;
    color: #0065FC;
    font-weight: bolder;

}

.info_recherche {
display: flex;
margin-top: 0px;
}
.info_recherche i{
    margin-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 8px;
    padding-left: 8px;
    border: 1px solid #F2F2F2;
    color: #0065FC;
    border-radius: 100px;
    

}
.info_recherche h6{
    font-size: 12px;
    font-weight: lighter;
    padding-left: 10px;
    margin-top: 0px;
}

/* SECTION HEBERGEMENTS + Paramètres grilles en Flexbox */ 

#box_section{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.grille_item{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    width: 250px;
    margin: 30px;
    box-shadow: 1px 1px 12px #555;
}
.grille_item img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover; /*pour garder le ratio*/
    width: 240px;
    height: 120px;
    align-self: center;
    margin-top: 5px;
}
.infos_item{
    display: flex;
    padding-left: 15px;
    flex-direction: column;
}
.titre_item{
    margin-top: 10px;
    margin-bottom: 2px;
}
.prix_nuit{
    margin-top: 2px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: lighter;
}
.stars{
    margin-bottom: 10px;
}
.stars i{
    color: #0065FC;
    font-size: 10px;
}
#far{
    color: #F2F2F2;
}

/*ASIDE*/
aside{
    width: 24%;
    float: right;
}

/* FOOTER*/
footer {
    background-color: #F2F2F2;
    padding-top: 10px;
    padding-bottom: 0px;
    clear: right;
}

.foot_container {
    display: flex;
    margin-left: 20px;
}

.foot_list ul{
    display: flex;
    flex-direction: column;
    margin-right: 200px;    
}

.foot_list li {
    list-style-type: none;
    margin-top: 5px;
}

.foot_list li:first-child {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 20px;
}

.foot_list a{
    text-decoration: none;
    color: black;
}

@media all and (max-device-width: 992px) 
{
    
    .footer_container {
       width: auto;
    }
    
}

@media screen and (max-device-width: 768px) {
   
    .foot_container { 
        flex-direction: column;
        width: auto;
    }

    .foot_list ul {
        flex-direction: column;
        flex-wrap: wrap; 
        width: fit-content;
    }

}