@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;900&display=swap");

/* @import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap"); */

body {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  background-color: white;
}

/*      HEADER      */
header {
  padding-left: 2%;
  padding-right: 2%;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-top: 0%;
  margin-bottom: 3%;
}

.menu img {
  /*logo en-tête*/
  width: 100%;
  height: 45px;
  margin-top: 40px;
  margin-left: 30%;
}

.menu ul {
  display: flex;
  margin-top: 0%;
}

.menu li {
  list-style-type: none; /*pas de puce*/
}

.menu a {
  /*dimension des liens */
  display: block; /* Transformation en block */
  min-width: 150px; /*Largeur minimale des liens*/
  color: black;
  text-decoration: none; /*pas de surlignement*/
  text-align: center;
  padding-top: 40px;
  border-top: solid transparent;
}

.menu a:hover {
  border-top: solid #0065fc;
  color: #0065fc;
}

/*      MAIN         */
main {
  padding-left: 2%;
  padding-right: 2%;
}
.titre-section {
  font-size: 20px;
  margin-bottom: 3%;
}
.titre-section-recherche {
  display: flex;
  flex-direction: column;
}

/* Zone de recherche*/

#recherche {
  display: flex;
  flex-direction: column;
  padding-left: 1%;
}
.titre-section-recherche h2 {
  margin-bottom: 0.5%;
  font-size: 24px;
}
.titre-section-recherche h6 {
  margin-top: 0%;
  margin-bottom: 2%;
  font-size: 16px;
  font-weight: normal;
}

/*Form*/
#form-standart {
  display: flex;
  border-radius: 10px;
  max-width: fit-content;
  margin-bottom: 1%;
}

#form-mobile {
  display: none;
  border-radius: 10px;
  max-width: fit-content;
}

.fa-map-marker-alt {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #f2f2f2;
  border-right: transparent;
  background-color: #f2f2f2;
  padding: 3%;
}

.text-form {
  border: 1px solid #f2f2f2;
  border-left: transparent;
  border-right: transparent;
  padding-left: 3%;
  background-color: white;
}

#click-rechercher {
  padding: 4%;
  border: 1px solid #0065fc;
  border-left: transparent;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  background-color: #0065fc;
}

/*Filtres*/
.filtres-recherche {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2%;
}

.filtres-recherche h4 {
  align-self: center;
}
.filtres {
  display: flex;
  flex-wrap: wrap;
  flex: 77%;
}

.filtre {
  list-style-type: none;
  border: 2px solid #f2f2f2;
  border-radius: 20px;
  text-align: right;
  padding-right: 2%;
  margin-right: 2%;
  font-size: 16px;
  font-weight: bold;
}
.filtre i {
  background-color: #deebff;
  color: #0065fc;
  padding: 10px;
  margin-right: 5px;
  border-radius: 100px;
  box-shadow: 1px 1px 1px #deebff;
}
.filtre:hover {
  border-color: #deebff;
}
.filtres li:hover {
  background-color: #deebff;
  color: #0065fc;
  box-shadow: 1px 3px 2px #555;
}

.info-recherche i {
  margin-right: 1%;
  padding-top: 0.4%;
  padding-bottom: 0.4%;
  padding-right: 0.8%;
  padding-left: 0.8%;
  border: 1px solid #f2f2f2;
  color: #0065fc;
  border-radius: 100px;
}

.info-recherche h6 {
  font-size: 14px;
  font-weight: normal;
  margin-top: 0%;
}

/********************************* SECTIONS Hébergements + Activités */

/* SECTION HEBERGEMENTS + Paramètres grilles en Flexbox */

#hebergements {
  display: flex;
  justify-content: space-between;
}

.hm-box {
  display: flex;
  flex-direction: column;
  flex: 65%;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 2% 3% 2% 3%;
}
.hm-box a {
  text-decoration: none;
  color: black;
  flex: 30%;
}
.grille-hebergements {
  display: flex;
  flex-wrap: wrap;
}

.grille-hebergements:first-child i {
  color: #f2f2f2;
}

.grille-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 25px;
  margin: 5%;
  flex: 30%;
  background-color: white;
  box-shadow: 1px 1px 12px #555;
}

.grille-item img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover; /*pour garder le ratio*/
  height: 100px;
  width: 96%;
  margin: 2%;
}
.pic-item {
  width: 100%;
  align-self: center;
}

.infos-item {
  display: flex;
  padding-left: 15px;
  flex-direction: column;
}
.titre-item {
  margin-top: 10px;
  margin-bottom: 2px;
  font-weight: bolder;
  font-size: 14px;
}
.prix-nuit {
  margin-top: 2px;
  margin-bottom: 0px;
  font-size: 12px;
  font-weight: lighter;
}
.stars-five {
  margin-bottom: 10px;
}
.stars-four {
  margin-bottom: 10px;
}
.stars-three {
  margin-bottom: 10px;
}

.stars-five i {
  color: #0065fc;
  font-size: 10px;
}

.stars-four i {
  color: #0065fc;
  font-size: 10px;
}
.stars-four i:last-child {
  color: #f2f2f2;
  font-size: 10px;
}

.stars-three i {
  color: #0065fc;
  font-size: 10px;
}
.stars-three i:nth-child(n + 4) {
  color: #f2f2f2;
  font-size: 10px;
}
#button-more {
  align-self: flex-start;
  border: none;
  padding: 2%;
  margin-top: 2%;
  background-color: transparent;
  font-weight: bold;
  font-size: 14px;
}

/* LES PLUS POPULAIRES*/

.pop-box {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  flex: 27%;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 2% 3% 2% 3%;
}
.grille-hebergements-pop {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
}

.pop-box a {
  text-decoration: none;
  color: black;
  width: 100%;
  flex: 90%;
  align-self: center;
  margin-top: 1%;
}

.titre-section-avec-icone {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
}

#icone-pop {
  align-self: center;
}
.grille-item-pop {
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  padding-bottom: 2px;
  background-color: white;
  box-shadow: 1px 1px 12px #555;
}

.pic-item-pop {
  width: 40%;
  height: 128px;
  margin-right: 2%;
}

.grille-item-pop img {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  object-fit: cover; /*pour garder le ratio*/
  width: 100%;
  height: 120px;
  align-self: center;
  margin: 5px;
}

.infos-item-pop {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 70%;
  display: flex;
  padding-left: 2%;
  flex-direction: column;
  justify-content: space-between;
}
.infos-item-pop-text {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.infos-item-pop h6 {
  margin-top: 3%;
}

.stars-pop {
  justify-self: flex-end;
  margin-bottom: 10px;
}
.stars-pop i {
  color: #0065fc;
  font-size: 10px;
}

/* CHANGEMENT DE SECTION */
/*ACTIVITES*/

#activites {
  width: 100%;
}

.activites-box {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2%;
}
.grille-activites {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.grille-activites a {
  text-decoration: none;
  color: black;
}
.item-act {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 25px;
  box-shadow: 1px 1px 12px #555;
  margin-bottom: 10%;
}

.item-act img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover; /*pour garder le ratio*/
  width: 100%;
  height: 100px;
}

.item-act h4 {
  padding: 5%;
  margin-top: 0px;
  font-size: 13px;
  font-weight: bold;
}

.item-grid:first-child {
  margin-left: 0%;
}
.item-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 20%;
  margin-left: 2%;
}

#vieux-port img {
  height: 320px;
}

#fort-de-pomegues img {
  height: 130px;
}

#iles-du-frioul img {
  height: 105px;
  object-position: top;
}

#parc-national-des-calanques img {
  height: 320px;
}

#notre-dame-de-la-garde img {
  height: 105px;
  object-position: top;
}

#parc-longchamps img {
  height: 130px;
}

/*                                  FOOTER*/
footer {
  background-color: #f2f2f2;
  padding-top: 1%;
  padding-bottom: 0px;
  clear: right;
  width: 100%;
  margin-top: 3%;
}

.foot-container {
  display: flex;
  flex-wrap: wrap;
}
.foot-list {
  margin-left: 2%;
  width: 30%;
}
.foot-list ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 0%;
}

.foot-list li {
  list-style-type: none;
  margin-top: 5px;
  width: max-content;
  padding: 5px;
  font-size: 14px;
}

.foot-list li:first-child {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.foot-list a {
  text-decoration: none;
  color: black;
}

/************************************************ MEDIA QUERIES *********************************/
/***********************************Tablettes*******************/

@media all and (max-width: 992px) {
  .menu {
    width: 100%;
  }
  .menu img {
    margin-left: 8%;
  }

  #recherche {
    margin: 0%;
    padding: 2%;
  }
  #hebergements {
    flex-direction: column;
  }
  .hm-box {
    order: 2;
    display: flex;
    flex-direction: column;
    width: 96%;
  }
  .grille-hebergements a {
    margin-right: 1%;
  }
  #button-more {
    align-self: flex-start;
    margin-top: 3%;
    padding: 2%;
    font-size: 12px;
  }

  .pop-box {
    order: 1;
    width: 95%;
    margin: unset;
    background-color: white;
    border-radius: 0px;
  }

  .titre-section-avec-icone {
    justify-content: flex-start;
  }
  .titre-section-avec-icone h2 {
    margin-bottom: 4%;
    margin: 2%;
  }
  .pop-box a {
    flex: 30%;
    padding: 1%;
    margin: 1% 1% 1% 0%;
  }

  .grille-hebergements-pop {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .grille-item-pop {
    flex-direction: column;
  }
  .grille-item-pop picture {
    width: 96%;
  }
  .grille-item-pop img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
  }
  .infos-item-pop {
    width: 96%;
    margin-left: 2%;
  }
  .infos-item-pop-text {
    width: 100%;
  }

  /*ACTIVITES - tablette*/

  .titre-section {
    margin-top: 5%;
    margin-bottom: 4%;
  }

  .item-grid {
    flex: 40%;
    margin-left: 0;
    margin-right: 2%;
  }
  /* .item-grid{
        justify-content: space-between;
    } */
  /* .pic-item-act{
        width: 200px;
    }
    .item-act{
        width: 200px;
    }  */
  .item-act h4 {
    font-size: 12px;
    padding: 2%;
  }
  /* .item-act img{
        width: 200px;
    }   
    
    #vieux-port img{
        height: 224px;
    }

    #fort-de-pomegues img{
        height: 85px;
    }

    #iles-du-frioul img{
        height: 70px;
        object-position: top;
    }

    #parc-national-des-calanques img{
        height: 224px;
    }

    #notre-dame-de-la-garde img{
        height: 70px;
        object-position: top;
    }

    #parc-longchamps img{
        height: 85px;
    } */

  /*Footer - Tablette*/

  .footer {
    margin: 0px;
  }
}

/*******************Smartphones************************************/

@media all and (max-width: 768px) {
  body {
    margin: 0%;
  }
  header {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    padding: 0%;
  }

  main {
    padding: 0%;
    margin: 0%;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0%;
  }

  .menu ul {
    padding-inline-start: 0px;
    margin: 7% 0 0 0;
    justify-content: space-between;
  }

  .menu li {
    flex: 50%;
  }

  .menu-item {
    width: 100%;
  }
  .menu img {
    margin-left: 0%;
  }
  #pic-logo {
    width: auto;
  }
  .menu a {
    margin-left: 0px;
    margin-right: 0px;
    padding: 5%;
    border-bottom: 3px solid #f2f2f2;
  }

  .menu a:hover {
    border-top: solid transparent;
    border-bottom: 3px solid #0065fc;
    font-weight: normal;
  }

  /***** section recherche mobile*/
  #recherche {
    padding: 2% 5%;
  }
  .titre-section {
    width: 80%;
  }
  .titre-section-recherche h2 {
    font-size: 21px;
    width: 80%;
  }
  .titre-section-recherche h6 {
    font-size: 14px;
    padding: 1% 2%;
  }
  .recherche {
    margin-top: 3%;
  }
  #form-standart {
    display: none;
  }

  #form-mobile {
    display: flex;
    visibility: visible;
    width: 100%;
    margin: 2% 0 5% 0;
  }

  .fa-map-marker-alt {
    padding: 8%;
  }
  .text-form {
    font-size: 17px;
    font-weight: bold;
    padding: 8%;
  }
  #loupe {
    padding: 8%;
    border: 2px solid #0065fc;
    border-radius: 10px;
    color: white;
    background-color: #0065fc;
  }

  .filtres-recherche {
    flex-direction: column;
  }
  .filtres-recherche h4 {
    align-self: flex-start;
    margin: 5% 0 0 3%;
    margin-bottom: 0%;
  }
  .filtres {
    margin-left: 0%;
    padding: 1%;
  }
  .filtre {
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .info-recherche {
    width: 80%;
  }
  .info-recherche h6 {
    font-size: 12px;
  }
  .info-recherche i {
    float: left;
  }

  /*FONT hébergements+ pop+ activités*/
  .titre-item {
    font-size: 16px;
  }
  .titre-section {
    padding: 2%;
    font-size: 21px;
    font-weight: bold;
  }
  /* section hébergements mobile */

  #hebergements {
    flex-direction: column;
  }

  .hm-box {
    order: 2;
    width: 90%;
    background-color: white;
    margin: 5% 0;
    padding: 0;
  }
  .hm-box h2 {
    padding: 1% 7%;
  }
  .grille-hebergements {
    flex-direction: column;
    width: 100%;
  }
  .grille-hebergements a {
    width: 100%;
  }
  .grille-item {
    width: 100%;
  }
  .grille-item img {
    width: 98%;
    margin: 1%;
    height: 140px;
  }
  .pic-item {
    width: 100%;
    margin: 0%;
  }
  #button-more {
    align-self: flex-start;
    font-size: 18px;
  }

  .pop-box {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 0px;
    width: 94%;
  }

  .grille-hebergements-pop {
    flex-direction: column;
    justify-content: space-around;
  }

  .pop-box a {
    width: 90%;
    flex: 30%;
    align-self: center;
    margin-top: 1%;
  }

  .titre-section-avec-icone {
    justify-content: space-between;
  }

  #icone-pop {
    align-self: center;
    padding-right: 3%;
  }
  .grille-item-pop {
    flex-direction: row;
    background-color: white;
    padding-bottom: 2px;
  }

  .pic-item-pop {
    flex: 40%;
    height: 128px;
    margin-right: 2%;
  }

  .grille-item-pop img {
    border-top-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
    height: 120px;
    align-self: center;
    margin: 5px;
  }

  .infos-item-pop {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 70%;
    display: flex;
    padding-left: 2%;
    flex-direction: column;
    justify-content: space-between;
  }
  .infos-item-pop-text {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  /* section Activités mobile*/

  .grille-activites {
    flex-direction: column;
  }
  .item-grid {
    width: 90%;
    align-self: center;
  }
  .item-grid h4 {
    font-size: 16px;
    padding: 5%;
  }

  .lien-act {
    width: 100%;
  }
  .item-act {
    width: 100%;
  }
  .pic-item-act {
    width: 100%;
  }

  .pic-item-act img {
    width: 100%;
  }

  #vieux-port img {
    height: 140px;
  }

  #fort-de-pomegues img {
    height: 140px;
  }

  #iles-du-frioul img {
    height: 140px;
    object-position: top;
  }

  #parc-national-des-calanques img {
    height: 140px;
  }

  #notre-dame-de-la-garde img {
    height: 140px;
    object-position: top;
  }

  #parc-longchamps img {
    height: 140px;
  }

  /*footer mobile*/
  .footer {
    margin-left: 0px;
    margin-right: 0px;
  }
  .foot-container {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: 0%;
  }
  .foot-list {
    margin-bottom: 10%;
  }
  .foot-list ul {
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    margin: 0px;
  }
  .foot-list li {
    padding: 1%;
  }

  .foot-list li:first-child {
    margin-bottom: 0%;
  }
}
